<div
  class="expense-item-aside"
  *ngIf="expenseItem"
>
  <label>Date</label>
  <p>{{expenseItem.purchasedOn}}</p>
  <label>Nature</label>
  <p>{{expenseItem.nature}}</p>
  <div class="amount">
      <div>
        <label>Montant</label>
        <p>{{expenseItem.originalAmount | displayAmount}}</p>
      </div>
      <div>
        <label>Montant en euro</label>
        <p>{{expenseItem.convertedAmount | displayAmount}}</p>
      </div>
  </div>
  <label>Commentaire</label>
  <p>{{expenseItem.comment}}</p>
  <label>Crée le</label>
  <p>{{expenseItem.createdAt}}</p>
  <label>Modifié le</label>
  <p>{{expenseItem.lastModifiedAt}}</p>
  <div class="buttons">

    <button [appButton]="MODIFIE">Modifer</button>
  </div>
</div>
