@import '../../../colors.scss';

.expense-item-line {
  width: 100%;
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  section {
    width : 100%
  }
  .amount {
    max-width: 120px;
  }
}
