@import '../../../colors.scss';

.expense-item-line {
  &:hover{
    cursor: pointer;
    background: $light-grey;
  }
}

.selected {
  background: $yellow;
  section {
    color: $white
  }
  &:hover{
    background: $yellow;
  }
}
