<section class="expenses-list">
  <app-expenses-list-sortbar></app-expenses-list-sortbar>
  <ul>
    <app-expense-item-line
      *ngFor="let expenseItem of expenseItems; let i = index"
      [expenseItem]="expenseItem"
      [index]="i"
    >
    </app-expense-item-line>
  </ul>
  <div class="pagination-buttons">
      <button
      class="previous"
        appPageButton="PREVIOUS"
       [pagination]="pagination"
      >
        <
      </button>
      <label>
        Page {{ pagination.currentPage }} sur {{ numberOfPage }}
      </label>
      <button
      class="next"
        appPageButton="NEXT"
        [pagination]="pagination"
      >
        >
      </button>
  </div>
</section>

