@import 'colors.scss';

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color : $dark-grey;
}
body {
  margin : 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
label {
  font-weight: 300;
  font-size: 0.8rem;
}
button {
  background: $yellow;
  color: $white;
  border: none;
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
  transition: 0.3s;
  border: solid 1px $yellow;
  &:hover {
    cursor: pointer;
    border-color: $dark-grey;
  }
  &:focus {
    outline: none;
    background: $dark-grey;
  }
}
