<form
  class="expense-item-form"
  [formGroup]="expenseItemFormGroup"
  (ngSubmit)="submitForm()"
>
    <h2>{{title}}</h2>
    <div>
      <label for="date">Date</label>
      <input
        id="date"
        type="date"
        formControlName="purchasedOn"
      />
    </div>

    <div>
      <label for="nature">Nature</label>
      <input
        id="nature"
        type="text"
        formControlName="nature"
      />
    </div>

    <div class="amount-form">
        <div>
            <label for="amount">Montant</label>
            <input
              id="amount"
              type="number"
              placeholder="0"
              formControlName="originalAmount"
              [appAmountInput]="expenseItemFormGroup.value.originalAmount"
            />
        </div>
        <div>
            <label for="currency">Devise</label>
            <select
              id="curency"
              formControlName="originalAmountCurrency"
              [appCurrencyInput]="expenseItemFormGroup.value.originalAmountCurrency"
            >
                <option
                  *ngFor="let currency of currencyRateService.currencys"
                  [value]="currency"
                >
                  {{currency}}
                </option>
            </select>
        </div>
    </div>

    <div>
      <label for="comment">Commentaire</label>
      <input
        id="comment"
        type="text"
        formControlName="comment"
        />
    </div>

  <button
    type="submit"
    class='form-button'
  >
    Valider
  </button>

  <button
    type="button"
    [appButton]="SEE"
    class='form-button cancel-button'
  >
    Annuler
  </button>
  <button
    type="button"
    [appButton]="SEE"
    buttonPurpose="DELETE"
    class='form-button delete-button'
  >Supprimer</button>

</form>
